absl-py==0.7.0
appdirs==1.4.3
asn1crypto==0.24.0
astor==0.7.1
attrs==19.1.0
autobahn==19.3.2
Automat==0.7.0
backcall==0.1.0
bleach==3.1.0
certifi==2019.3.9
cffi==1.12.2
cloudpickle==0.8.0
constantly==15.1.0
cryptography==2.5
cycler==0.10.0
cytoolz==0.9.0.1
dask==1.1.4
decorator==4.3.0
dlib==19.17.0
entrypoints==0.3
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
hyperlink==17.3.1
idna==2.8
ImageHash==4.0
imageio==2.5.0
incremental==17.5.0
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
Jinja2==2.10
joblib==0.13.2
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-core==4.4.0
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.3
mistune==0.8.4
mkl-fft==1.0.10
mkl-random==1.0.2
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.2
notebook==5.7.4
numpy==1.16.0
olefile==0.46
opencv-python==4.0.0.21
openface==0.2.1
pandas==0.24.2
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
prometheus-client==0.5.0
prompt-toolkit==2.0.7
protobuf==3.6.1
ptyprocess==0.6.0
pyasn1==0.4.4
pyasn1-modules==0.2.4
pycparser==2.19
Pygments==2.3.1
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pyparsing==2.3.1
python-dateutil==2.7.5
pytz==2018.9
PyWavelets==1.0.2
pyzmq==17.1.2
scikit-image==0.14.2
scikit-learn==0.20.0
scipy==1.2.1
Send2Trash==1.5.0
service-identity==17.0.0
six==1.12.0
tensorboard==1.12.2
tensorflow==1.12.0
tensorflow-gpu==1.12.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
toolz==0.9.0
tornado==5.1.1
traitlets==4.3.2
Twisted==18.9.0
txaio==18.8.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.3
zope.interface==4.6.0
